@charset "utf-8";



body{
	background-size:cover;
    background-attachment:fixed;
    background-color:#fff;
}

div main{
    height:auto;
    width:1000px;
    margin:0 auto;
}
h1{
    text-align: center;
}
span .texttitle{
    display: block;
    height: auto;
    width: auto;
    margin: 0 auto;
}
article{
    height:auto;
    min-height:300px;
    width:900px;
    margin:0 auto;
}
article{
	text-align:center;
    font-size:16px;
    margin:0 auto;
}
h1 article{
	text-align:center;
    font-size:20px;
    margin:0 auto;
}
iframe{
    display: block;
    width: 600px;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
}