@charset "utf-8";

body{
	background-size:cover;
    background-attachment:fixed;
    background-color:#eeeeee;
}
div main{
    height:auto;
    width:1000px;
    margin:0 auto;
}
article{
    height:auto;
    min-height:300px;
    width:900px;
    margin:0 auto;
}
article h1{
	text-align:center;
    font-size:26px;
    margin:0 auto;
}
iframe {
    display: block;
    position:relative;
    width: 600px;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
}